<div class="mb-3">
    {% if app.user %}
        You are logged in as {{ app.user.username }} <a href="{{ path('app_logout') }}"><button class="btn btn-outline-danger" type="button">Logout</button></a>
    {% endif %}
    <a href="{{ path('index') }}"><button class="btn btn-primary" type="button">Home</button></a>
</div>
